<!DOCTYPE html>
<html lang="zh">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="./static/bootstrap.min.css">
    <link rel="stylesheet" href="./static/main.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>Lord of War☠️</title>
</head>

<body class="text-center">
    <form class="form-getflag" method="post">
        <div id="app">
            <h1>Lord of War☠️</h1>
            <div class="card">
                <div class="card-body question-main">
                    <!-- 故事背景 -->
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在立陶宛边境，有一批犯罪分子进行着军火交易。他们来自不同的国家，其中包括俄罗斯、白俄罗斯等地。这些犯罪分子在当地寻找潜在的买家，以获取高额利润。<br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;他们经常会利用夜间在边境地区进行秘密交易，通常采用现金支付，以免引起银行账户交易的怀疑。这些犯罪分子的军火交易包括大量的武器，如步枪、手枪、炸药和火箭筒等，这些武器在各种冲突地区都是必不可少的。<br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这些犯罪分子的活动引起了当地边境警察的注意。警方开始加强巡逻和监视，以寻找证据，抓获这些犯罪分子并阻止他们的活动。但这些犯罪分子很难被抓到，因为他们经常使用技巧和伪造文件来掩盖他们的交易和身份。<br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最终，警方在一次秘密交易中逮捕了一个犯罪分子，搜查发现大量的武器和现金，以及一部手机，证明了他们的军火交易行为。<br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以下是警方调查到的部分信息，你能重现警方的取证过程吗？<br>
                    <!-- 背景故事 -->
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body question-main">

                    <div class="question-q">
                        1. What is SHA1 checksum of image file blk0_mmcblk0.bin ?<br><small class="text-muted" font-size="5"></small>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="q1">clue</span>
                        </div>
                        <input type="text" name="q1" class="form-control" aria-describedby="q1" value="">
                    </div>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body question-main">
                    <div class="question-q">
                        2. What is the name of the largest partition?<br><small
                            class="text-muted" font-size="5"></small>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="q2">clue</span>
                        </div>
                        <input type="text" name="q2" class="form-control" aria-describedby="q2" value="">
                    </div>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body question-main">
                    <div class="question-q">
                        3. What email address is setup on com.android.email service?<br><small class="text-muted" font-size="5"></small>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="q3">clue</span>
                        </div>
                        <input type="text" name="q3" class="form-control" aria-describedby="q3" value="">
                    </div>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body question-main">
                    <div class="question-q">
                        4. What is the brand (vendor) of phone?<br>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="q4">clue</span>
                        </div>
                        <input type="text" name="q4" class="form-control" aria-describedby="q4" value="">
                    </div>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body question-main">
                    <div class="question-q">
                        5. Find ICCID Number
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="q5">clue</span>
                        </div>
                        <input type="text" name="q5" class="form-control" aria-describedby="q5" value="">
                    </div>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body question-main">
                    <div class="question-q">
                        6. What is the name of the username telegram?<br>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="q6">clue</span>
                        </div>
                        <input type="text" name="q6" class="form-control" aria-describedby="q6" value="">
                    </div>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body question-main">
                    <div class="question-q">
                        7. What is the model of the phone?<br>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="q7">clue</span>
                        </div>
                        <input type="text" name="q7" class="form-control" aria-describedby="q7" value="">
                    </div>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body question-main">
                    <div class="question-q">
                        8. What is the name of WhatsApp user which has phone number +37062166565?<br>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="q8">clue</span>
                        </div>
                        <input type="text" name="q8" class="form-control" aria-describedby="q8" value="">
                    </div>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body question-main">
                    <div class="question-q">
                        9. How much dollars the seized weapons (stuff) may have cost?<br>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="q9">clue</span>
                        </div>
                        <input type="text" name="q9" class="form-control" aria-describedby="q9" value="">
                    </div>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body question-main">
                    <div class="question-q">
                        10. What tank specs the user was looking for?<br><small class="text-muted" font-size="5">model + name</small>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="q10">clue</span>
                        </div>
                        <input type="text" name="q10" class="form-control" aria-describedby="q10" value="">
                    </div>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body question-main">
                    <div class="question-q">
                        11. What web address was provided for a company that can rent cargo planes?<br><small class="text-muted" font-size="5"></small>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="q11">clue</span>
                        </div>
                        <input type="text" name="q11" class="form-control" aria-describedby="q11" value="">
                    </div>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body question-main">
                    <div class="question-q">
                        12. What is a name of video file which is related with tanks?<br><small class="text-muted" font-size="5"></small>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="q12">clue</span>
                        </div>
                        <input type="text" name="q12" class="form-control" aria-describedby="q12" value="">
                    </div>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body question-main">
                    <div class="question-q">
                        13. Based on the analysis of the video file 20221015_173902.mp4, please provide the GPS coordinates of the possible place, where video was recorded?<br><small class="text-muted" font-size="5">format : xx.xxxx, xx.xxxx</small>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="q13">clue</span>
                        </div>
                        <input type="text" name="q13" class="form-control" aria-describedby="q13" value="">
                    </div>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body question-main">
                    <div class="question-q">
                        14. Based on the review of the media files, please provide the GPS coordinates of the possible meeting point.<br><small class="text-muted" font-size="5">format : xx.xxxxxx, xx.xxxxxx</small>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="q14">clue</span>
                        </div>
                        <input type="text" name="q14" class="form-control" aria-describedby="q14" value="">
                    </div>
                </div>
            </div>
            <br>


            <br>
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="提交喵">
        </div>
    </form>
    <script src="./static/jquery.min.js"></script>
    <script src="./static/bootstrap.min.js"></script>

</body>

</html>